* {
  padding: 0;
  margin: 0;
}

@mixin centrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintenance {
  @include centrar;
  cursor: url('');
  z-index: 100;
  padding-inline: 8rem;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  height: 100vh;

  .contentMaintenance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;

    .title {
      font-size: 4rem;
      font-weight: 900;
      @media (max-width: 300px) {
        font-size: 1rem;
        padding-inline: 4rem;
      }
      @media (max-width: 600px) {
        font-size: 1.4rem;
      }
      @media (max-width: 1000px) {
        font-size: 2rem;
      }
    }

    .subtitle {
      font-size: 2rem;
      color: #ea903b;
      font-weight: 900;
      @media (max-width: 300px) {
        font-size: 1rem;
        padding-inline: 4rem;
      }
      @media (max-width: 600px) {
        font-size: 1.4rem;
      }
      @media (max-width: 1000px) {
        font-size: 2rem;
      }
    }
    
  }

  .caption {
    height: 15%;
    font-weight: 400;

    .capitionTitle{
      @media screen and (max-width: 300px) {
        font-size: 2rem;
      } 
      @media screen and (max-width: 600px) {
        font-size: large;
      }
      @media screen and (max-width: 1000px) {
        font-size: 5px;
      }
    }
  
  }
}


@media screen and (max-width: 520px) {
      
  .title {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 1.4rem;
    color: #eab33b;
    font-weight: 900;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 4rem;
    
  }
  .subtitle {
    font-size: 3.8rem;
    color: #eab33b;
    font-weight: 900;
  }
}


